:root{
    --color-green: #82ae46;
    --color-grayBlack:#252525;
    --color-gray:#F0F0F0;
    --color-main:#E7AB3C;
    --color-Blackgray:#585858;
    --color-pur-light:#F4F0ED;
    --color-gray1:#767676;
    --bg-color1:#e4b2d6;
    --bg-color2:#dcc698;
    --bg-color3:#a2d1e1;
    --bg-color4:#dcd691;
    --font-weight300:300;
    --font-weight400:400;
    --font-weight500:500;
    --font-weight600:600;
    --fontSize50:3.125rem;
    --fontSize42:2.5rem;
    --fontSize40:2.5rem;
    --fontSize34:2.125rem;
    --fontSize30:1.875rem;
    --fontSize28:1.75rem;
    --fontSize26:1.625rem;
    --fontSize24:1.5rem;
    --fontSize20:1.25rem;
    --fontSize22:1.375rem;
    --fontSize18:1.125rem;
    --fontSize16:1rem;
    --fontSize15:0.938rem;
    --fontSize14:0.875rem;
    --fontSize13:0.813rem;
    --fontSize12:0.75rem;
    --fontSize10:0.625rem;
    --font-family1:'Poppins';
    --font-family:'Plus Jakarta Sans';
    --font-family2:'Playfair Display SC';
    --padd-top-40:2.5rem;

}
.font-family1{
    font-family:var(--font-family1);
}
.font-family2{
    font-family:var(--font-family2);
}
.padd-top-40{
    padding-top: var(--padd-top-40);
}

img{
    max-width: 100%;
}
ul, li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0px !important;
    /* color: var(--color-grayBlack); */
}
p {
    margin-top: 0;
    margin-bottom: 0px !important;
   
}
.bg-light1 {
    background: #f7f6f2 !important;
}
.bg-white{
    background-color: #ffffff;
}
.color-green{
    color: var(--color-green);
}
.color-gray{
    color: var(--color-gray);
}
.color-grayBlack{
    color: var(--color-grayBlack);
}
.color-Blackgray{
    color: var(--color-Blackgray);
}
.color-gray1{
    color: var(--color-gray1);
}
.color-main{
    color: var(--color-main);
}
.bgcolor-main{
    background-color: var(--color-main);
}
.color-pur-light{
    background-color: var(--color-pur-light);
}
.bgcolor-gray{
   background-color: var(--color-gray);
}
.font-weight300{
    font-weight: var(--font-weight300);
  }
.font-weight400{
  font-weight: var(--font-weight400);
}
.font-weight500{
    font-weight: var(--font-weight500);
  }

  .font-weight600{
    font-weight: var(--font-weight600);
  }
  .fontSize42{
    font-size: var(--fontSize42);
}
  .fontSize40{
    font-size: var(--fontSize40);
  }
  .font-size34{
    /* font-size: var(--fontSize34); */
    font-size: clamp(var(--fontSize26), 3vw, var(--fontSize34));
  }
  .font-size30{
    font-size: var(--fontSize30);
  }
  .font-size28{
    font-size: var(--fontSize28);
  }
  .font-size26{
    font-size: var(--fontSize26);
  }
  .font-size20{
    font-size: var(--fontSize20);
  }
  .font-size22{
    font-size: var(--fontSize22);
  }
  .font-size24{
    font-size: var(--fontSize24);
  }
  .font-size18{
    font-size: var(--fontSize18);
  }
  .font-size16{
    font-size: var(--fontSize16);
  }
  .font-size15{
    font-size: var(--fontSize15);
  }
.font-size14{
  font-size: var(--fontSize14);
}
.font-size15{
    font-size: var(--fontSize15);
  }
  .font-size13{
    font-size: var(--fontSize13);
  }
.font-size12{
    font-size: var(--fontSize12);
  }

  .font-size10{
    font-size: var(--fontSize10);
  }
.border-color{
    border: 1px solid #f0f0f0;
}
.fontfamily-Jost{
    font-family: "Jost";
}
.color-black{
    color: #000000;
}
.letter-sp{
    letter-spacing: 2px;
}
.deskto-w-48{
    width: 48%;
}
.cursor-pointer{
    cursor: pointer;
}
.padd-bott-30{
   padding-bottom: 1.875rem;
}
@media only screen and (max-width:767px){
    .mobile-w-100{
        width: 100%;
    }
}


body {
    font-family: 'Plus Jakarta Sans' !important;
    font-weight: 400 !important;
    color: var(--color-grayBlack) !important;
}
.btn:hover {
    border-color: var(--color-main) !important;
    background-color: var(--color-main) !important;
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: var(--color-main);
}



@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}
.top_bar{
    background: #252525;
    padding: 0.625rem 0;
}

.section-slider{
    background-image: url("/images/banner1(1x).jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-slider2{
    background-image: url("../images/banner2-1x.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .section-slider{
        background-image: url("/images/banner1(2x).jpg");
    }
    .section-slider2{
        background-image: url("/images/banner2-2x.jpg");
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .section-slider{
        background-image: url("/images/banner1(3x).jpg");
    }
    .section-slider2{
        background-image: url("/images/banner2-3x.jpg");
    }
}
.section-slider h1{
    font-size: clamp(1.5rem, 6vw, 3rem);
    line-height:clamp(2rem, 6vw, 3.75rem);
    font-weight: 600;
    font-family: 'Poppins';
    max-width: 450px;
}
.subheading{
    font-weight: 300;
    font-size: var(--fontSize14);
    
}
.home-slider {
    position: relative;
    height: 680px;
    z-index: 0;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}
.midel-div{
   flex-direction: column;
}
a.nav-link {
    font-size: 14px;
    font-weight: 500;
    margin: 0 11px;
    color: #000;
}
.navbar .navbar-brand{
  color: var(--color-green);
}
.navbar-light .navbar-nav .nav-link{
    color: #252525;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        flex-grow: inherit;
    }
}

.border-box{
    width: 100px;
    height: 100px;
    background-color: var(--bg-color1);
    padding: 10px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.border-box-inside{
    border: 1px solid #fbfdff;
}
.border-box1 {
   background-color: var(--bg-color2);
}
.border-box2 {
    background-color: var(--bg-color3);
}
.border-box3 {
    background-color: var(--bg-color4);
 }
.border-box:hover{
  background-color: var(--color-green);
}
.flaticon-shipped{
    font-size: var(--fontSize50);
}
.ftco-section h3{
  font-size: var(--fontSize15);
  font-weight: var(--font-weight500);
}
.orderpri-text{
    font-size: var(--fontSize12);
    color: rgba(0, 0, 0, 0.5);
    font-weight: var(--font-weight500);
}
.ftco-section {
    padding: 3.188rem 0;
}
.category-absolute{
    bottom: 0;
    background-color: var(--color-green);
    font-size: var(--fontSize18);
    padding: 4px 20px;
}
.category-absolute1{
    top: 0;
    
}
.category-absolute1 h3{
    font-family: "Lora", Georgia, serif;
    font-weight: var(--font-weight400);
    font-size: 1.5rem;
}
.category-absolute1 p{
    font-size: var(--fontSize15);
    color: gray;
    padding-top: 10px;
}
.btn.btn-primary {
    background: #82ae46;
    border: 1px solid #82ae46;
    color: #fff;
}

.product-section, .featured-section{
    padding: 5rem 0;
}
.category-section{
    padding-bottom: 6%;
}
.video-bg{
    background-image: url("/images/video-img-1x.png");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .video-bg{
        background-image: url("/images/video-img-2x.png");
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .video-bg{
        background-image: url("/images/video-img-3x.png");
    }
}

.videoIcon{
	top:45%;
	bottom:46%;
	left:47%;
	right:47%;
}
.test-img{
    width: 100px;
    height: 100px;
}
.test-text{
    border-left: 1px solid #e6e6e6;
    padding: 0 50px;
    line-height: 26px;
    color: #2d2d2d;
    position: relative;
    margin-left: 1px;
}
.test-text::after {
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
    content: "";
    width: 3px;
    height: 30px;
    background: rgb(130, 174, 70);
}
.test-imgBox{
    background: #fff;
    padding: 12px;
    bottom: 0;
    right: -5px;
}
.partner-section {
    padding: 6% 0;
    border-top: 1px solid #e0e0e0;
    margin-top: 6%;
}
.partner-section ul{
    padding: 0px;
}
.partner-section ul li {
    display: inline-block;
    width: 15%;
    margin-right: 68px;
}
.partner-section ul li:last-child{
    margin-right: 0px;
}
.subcribe-section{
    padding: 5% 0;
}

.subcribe-section .submit {
    background-color: var(--color-green);
    font-weight: var(--font-weight300);
}
.subcribe-section .search-box{
   height: 52px;
   border-radius: 0;
   font-weight: var(--font-weight300);
}
.footer-section{
    padding: 0;
    background-color: #191919;
}
.footer-section ul{
    margin: 0px;
    padding: 0px;
}

.instagram {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .instagram img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  .instagram-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-icon i {
    width: 35px;
    height: 35px;
    background: var(--color-main);
    border-radius: 50%;
    padding-top: 6px;
    font-size: 20px;
    color: #fff;
}
  
  .instagram:hover .instagram-icon {
    opacity: 1;
  }
  

.social-icon li {
    display: inline-block;
    background: var(--color-main);
    height: 40px;
    width: 41px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:0.938rem;
    border-radius: 50%;
}
.social-icon li a{
    color: #000000;
}
.social-icon li:last-child{
    margin-right:0px;
}
.social-icon {
    margin-top: 60px;
}
.social-icon i {
    color: #fff;
    font-size: var(--fontSize18);
}
.ftco-footer-widget ul li a {
    color: #000000;
    font-size: var(--fontSize14);
    text-decoration: none;
}
.ftco-footer-widget li {
    display: flex;
    margin-bottom: 0.75rem;
}
.ftco-footer-widget span{
    font-size: var(--fontSize14);
    margin-left: 20px;
}
.social-icon li svg {
    font-size: 16px !important;
}
.mouse{
    position: absolute;
    left: 0;
    right: 0;
    top: -26px;
    z-index: 99;
}
.mouse-icon{
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #82ae46;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.mouse-wheel {
    height: 30px;
    margin: 2px auto 0;
    display: block;
    width: 30px;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
    color: #fff;
    font-size: 20px; }
  
  @-webkit-keyframes wheel-up-down {
    100% {
      margin-top: 2px;
      opacity: 1; }
    30% {
      opacity: 1; }
    0% {
      margin-top: 20px;
      opacity: 0; } }
  
  @-moz-keyframes wheel-up-down {
    100% {
      margin-top: 2px;
      opacity: 1; }
    30% {
      opacity: 1; }
    0% {
      margin-top: 20px;
      opacity: 0; } }
  
  @keyframes wheel-up-down {
    100% {
      margin-top: 2px;
      opacity: 1; }
    30% {
      opacity: 1; }
    0% {
      margin-top: 20px;
      opacity: 0; } 
}

.testimonials-hea{
    padding-bottom: 6%;
}

.testimonials .slick-dots li button:before{
    font-size: 20px;
}
.testimonials .slick-dots li.slick-active button:before{
  color: var(--color-main);
}
.testimonials .slick-dots{
    bottom: -18%;
}
.testimonials .slick-slider{
    padding-bottom: 0px;
}
.instagram-section {
    padding: 5rem 0;
}
.slick-slide .testimonials-ic img{
   display: inline;
}


/* ================ */
a.nav-link{
    font-size: var(--fontSize15);
}
.nav-icon span{
    padding: 8px;
}
.bann-par{
    font-weight: 300;
    line-height: 1.75rem;
}
a.nav-link.active {
    color: var(--color-main) !important;
}
.banner_all a {
    color: #8E8E8E;
    text-decoration: none;
}
.btn.banner-btn {
    background: none;
    border: 1px solid var(--color-main);
    color: #fff;
    border-radius: 5px !important;
    font-size: var(--fontSize16);
    padding: 0.75rem 3.125rem;
    background-color: var(--color-main);
}
.ftco-icon-box{
    background: #EEEEEE;
    padding: 15px 12px;
    width: 62px;
    height: 60px;
    vertical-align: middle;
     display: flex;
    align-items: center;
}
.item-mid p{
  color: var(--color-grayBlack);
  padding-left: 10px;
  font-size: var(--fontSize18);
  font-family: var(--font-family1);
  font-weight: var(--font-weight500);
}
.item-mid p span{
    font-size: var(--fontSize15);
    font-family: var(--font-family);
    font-weight: var(--font-weight300);
}
.category-text {
    top: 8%;
    right: 6%;
    max-width: 168px;
    color: #fff;
    
}
.category-text2{
    padding: 20px 30px;
    color: #fff;
}
.category-text2 h4{
   font-size: 5rem;
   font-weight: 900;
   line-height: 4rem;
   padding:1.375rem 0 2.188rem 0;
}
.category-text3{
    top: 8%;
    left: 6%;
    max-width: 190px;
    color: #252525;
}
.btn.cate-btn, .btn.mid-btn{
    background-color: #ffffff;
    color: #000000;
    border-radius: 0px;
    font-size: var(--fontSize14);
    font-weight: 600;
    padding: 0.42rem 0.938rem;
    border-radius: 0.5rem;
}

.category_bg1{
    background:#34A4B9 url(../images/category-bg1-1x.png) no-repeat top left;
    width: 100%;
    background-size: cover;
}
.category_bg2{
    background:#000000 url(../images/category-bg2-1x.png) no-repeat top left;
}
.category_bg3{
    background:#F0D5BE url(../images/category-bg3-1x.png) no-repeat top right;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .category_bg1{
        background:#34A4B9 url(../images/category-bg1-2x.png) no-repeat top left;
        width: 100%;
        background-size: cover;
    }
    .category_bg2{
        background:#000000 url(../images/category-bg2-2x.png) no-repeat top left;
        width: 100%;
        background-size: cover;
    }
    .category_bg3{
        background:#F0D5BE url(../images/category-bg3-2x.png) no-repeat top right;
        width: 100%;
        background-size: cover;
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .category_bg1{
        background:#34A4B9 url(../images/category-bg1-3x.png) no-repeat top left;
        width: 100%;
        background-size: cover;
    }
    .category_bg2{
        background:#000000 url(../images/category-bg2-2x.png) no-repeat top left;
        width: 100%;
        background-size: cover;
    }
    .category_bg3{
        background:#F0D5BE url(../images/category-bg3-3x.png) no-repeat top right;
        width: 100%;
        background-size: cover;
    }
}
.min-hight{
    min-height:359px;
}

/* .product-section h2 {
    font-size: 34px;
    font-family: 'Jost';
} */
.head-all{
    color: #767676;
    font-size: var(--fontSize16);
}
.head-all p {
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-weight: 300;
}


.btn.mid-btn{
    padding: 10px 35px;
    font-size: 16px;
}
.category-box {
    max-width: 165px;
    max-height: 165px;
    overflow: hidden;          
    background-color: #E5E4E0; /* Optional background color */
    transition: transform 0.3s ease; /* Optional hover effect */
}
.display-grid{
    display: grid;
}
.category-grid{
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap:26px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse{
        width: 100%;
    }
}

.testimonials-fr{
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.875rem;
}
.testimonials{
    background-color: #F6F6F6;
    padding:5.5rem 0 10rem 0;
}
.testi-box{
    box-shadow: 0 1px 8px #dfdfdf;
    border-radius: 0.625rem;
}
.test-ca{
    border-top: 1px solid #E6E6E6;
}
.testi-box p{
 font-size: var(--fontSize15);
 color: #5C5C5C;
 font-weight: var(--font-weight300);
 line-height: 1.8rem;
}
.testi-box h4{
    font-size: var(--fontSize18);
    font-weight: var(--font-weight500);
}
.testi-box h6{
    font-size: var(--fontSize14);
    color: #838383;
    font-weight: var(--font-weight400);
}
.product_wishlist{
    background-color: #fff;
    width: 24px;
    height: 24px;
    right: 4%;
    top: 3%;
}
.product_wishlist img{
    width: 14px;
    position: relative;
    top: -2px;
}
.main-product{
    padding-bottom: 3rem;
}
.instagram-column {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 18px;
}
.instagram img{
    border-radius: 0.4rem;
}

.footer-section h2{
    color: #ffffff;
}
.footer-section p, .footer-section ul li a, .footer-section ul li span, .footer-section ul li svg{
    color: #B2B2B2;
    font-size: var(--fontSize13);
    font-weight: 400;
}
.footer-section p{
    line-height: 1.375rem;
}
.address li{
    margin-bottom: 1.563rem;
}
.footer-bottom {
    border-top: 1px solid #3F3F3F;
    padding: 1.375rem 0;
}
.footer-top {
    padding: 3.875rem 0 3.1rem 0;
}

.product-box{
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.product-box:hover {
    transform: translateY(0px);
}
.button-hover {
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translate(-26%);
    opacity: 0;
    pointer-events: none;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
  }
  .add-to-cart-btn {
    background-color: #fff;
    color: #000000;
    padding:0.5rem 1.25rem;
    font-size: var(--fontSize12);
    border: none;
    font-weight: 500;
}
.view-cart {
    background-color: #ffffff;
    border: none;
    padding: 5.3px 0.625rem;
}
.view-cart:hover {
    background-color: var(--color-main);
}
.view-cart:hover img{
  filter: brightness(0) invert(1);
}
  .product-box:hover .button-hover {
    opacity: 1;
    pointer-events: auto;
  }
  .marin-minus {
    margin: 0 -1.2rem 0 !important;
}
.product-section .btnshowmore{
   border: 1px solid #D2D2D2;
   padding: 0.938rem 1.375rem;
}
.testimonials-categ{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #f6e4cb;
    overflow: hidden;
}
.testimonials-ic {
    background-color: var(--color-main);
    width: 2.25rem;
    height: 2.25rem;
    text-align: center;
    padding-top: 0.125rem;
}
.index-banner .slick-prev, .index-banner .slick-next{
    z-index: 9;
    
}
.index-banner .slick-slider .slick-next{
    right:2.5rem;
}
.index-banner .slick-slider .slick-prev{
    left:2.5rem;
}
.index-banner .slick-prev, .index-banner .slick-next{
    position: absolute;
    width:3.188rem;
    height:3.188rem;
    background-color: var(--color-grayBlack);
    text-align: center;
    border-radius: 3.125rem;
    font-size: 0px !important;
    background-repeat: no-repeat;
   background-position: 50% 50%;
   box-shadow: 0 1px 6px #00000021;
   opacity: 1;
}
.index-banner .slick-prev:before{
    background-image: url(/images/banner-right.svg);
    
    background-size: cover;
    width:1.563rem;
    position: absolute;
    text-indent: -99999999px;
    height: 1.563rem;
    top: 24%;
    left: 30%;
}
.index-banner .slick-next:before{
    background-image: url(/images/banner-left.svg);
    background-size: cover;
    width: 1.563rem;
    position: absolute;
    text-indent: -99999999px;
    height: 1.563rem;
    top: 24%;
    right: 30%;
}
/* .ftco-category h4{
   font-size: 1.75rem;
} */
.category-bottm h4{
    font-size: clamp(var(--fontSize22), 2vw, var(--fontSize28));
}
.top-cart span {
    background-color: var(--color-main);
    color: #fff;
    top: -3px;
    /* padding: 7px; */
    width: 16px;
    height: 16px;
    text-align: center;
    right: -7px;
    line-height: 1.063rem;
    font-size:var(--fontSize12);
}
.navbar-nav li a:hover{
    color: var(--color-main);
}

.close-btn{
    display: none;
}
.testimonials .slick-slide{
    margin: 0 1rem;
}
.testimonials .slick-slider{
    margin: 0 -1rem;
}
.category-section .slick-slide{
    margin: 0 13px;
}
.category-section .slick-list{
    margin: 0 -13px;
}
.slick-prev {
    left: -10px;
}
.slick-next {
    right: -12px;
}
.category-section .slick-prev, .category-section .slick-next{
	width: 36px;
    height: 36px;
    background: #ffffff;
    box-shadow: 0 1px 7px #c5c5c5;
    z-index: 999;
    border-radius: 50%;
}
.category-section .slick-prev:before{
	background-image: url(/images/category-arrow-pre.svg);
    background-size: cover;
    width: 16px;
    position: absolute;
    text-indent: -99999999px;
    height: 16px;
    top: 0.625rem;
    left: 0.625rem;
}
.category-section .slick-next:before{
	background-image: url(/images/category-arrow-next.svg);
    background-size: cover;
    width: 16px;
    position: absolute;
    text-indent: -99999999px;
    height: 16px;
    top: 0.625rem;
    right: 0.625rem;
}
.category_slider a{
    text-decoration: none;
    color: var(--color-grayBlack);
}


.testimonials .slick-track{
   padding-bottom: 0.375rem;
}



/* ------------shop------------- */
.shop-banner{
    background-image: url("/images/shop-banner1x.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4.063rem 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .shop-banner{
        background-image: url("/images/shop-banner2x.jpg");
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .shop-banner{
        background-image: url("/images/shop-banner3x.jpg");
    }
}
.section-shop{
    padding: 6rem 0;
}
.filter{
    border-bottom: 1px solid #EAEAEA;
}
.shop-item input{
    border: 1px solid #e4e4e4;
    color: #111;
}
.section-shop ul{
    padding-left: 0px;
    margin-bottom: 0px;
}
.shop-item label{
  color: #7C7C7C;
  font-size: var(--fontSize14);
}

.shop-check {
    display: block;
    position: relative;
    padding-left:0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .shop-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .price-bar-container li {
    color: #7C7C7C;
}
.price-bar-container li span{
    color: #000000;
}
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 3px;
    right: 0;
    height: 14px;
    width: 15px;
    background-color: #ffffff;
    border: 1px solid #7C7C7C;
    border-radius: 2px;
}

  
  /* On mouse-over, add a grey background color */
  .shop-check:hover input ~ .checkmark {
    background-color: #ffffff;
    border: 1px solid #7C7C7C;
  }
  
  /* When the checkbox is checked, add a blue background */
  .shop-check input:checked ~ .checkmark {
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .shop-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .shop-check .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .shop-item {
    padding: 0.725rem 0 0 0;
}
.hl {
    height: 1px;
    width: 100%;
    background-color: #EAEAEA;
    margin: 1.5rem 0;
}
.price-in input{
    border: 1px solid #D5D5D5;
    width: 44%;
    font-size: 12px;
    color: var(--color-Blackgray);
    padding: 5px 6px;
}
.list1, .list2 {
    padding: 3px 8px;
    background-color: var(--color-main);
}
.list1 img, .list2 img {
    width: 18px;
}
.list2 {
    border: 1px solid #E4E4E4;
    background-color: #fff;
}


.pagination-btn{
    border: 1px solid #D7D7D7;
    background-color: #ffffff;
    padding: 7px 15px;
    margin: 6px;
}
.pagina-active{
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
    color: #ffffff;
}
.transform_90{
    transform: rotate(90deg);
    width: 10px;
    margin-right: 9px;
    margin-top: 9px;
}
.transform_90.rotate{
    transform: rotate(-90deg); 
}
.mark_discount {
    background-color: var(--color-main);
    color: #ffffff;
    font-size: 0.625rem;
    width: 38px;
    height: 20px;
    line-height: 20px;
    left: 4%;
    top: 3%;
    text-align: center;
    border-radius: 4px;
}

.price-bar-container {
    position: relative;
    padding: 10px 0;
  }
  
  .price-bar-container input[type='range'] {
    width: 100%;
    appearance: none;
    height: 6px;
    background: #e0e0e0;
    outline: none;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    position: absolute;
  }
  
  .price-bar-container input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  
  .price-bar-container input[type='range']:nth-child(2) {
    z-index: 2;
  }

  .shop-banner h5 a {
    color: #222222;
    text-decoration: none;
}
.banner_all{
    background-color: var(--color-gray);
    min-height: 200px;
}
.banner_all h3{
    color: #8E8E8E;
}

/* ------------shop------------- */


/* ------------productdetails------------- */

.producdetail_Bimg{
    background-color: var(--color-pur-light);
    /* padding: 1.875rem; */
    border-radius: 0.313rem;
}
.producdetail-box{
    border-radius: 0.313rem;
}
.producdetail_Simg ul{
    margin-bottom: 0px;
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0.625rem;
}
.prodetails-section{
    padding: 3rem 0;
}
.producdetail_Simg ul li{
    background-color: var(--color-gray);
    padding: 0px;
    /* border: 1px solid var(--color-pur-light); */
    border-radius: 0.313rem;
}
.producdetail_Simg ul li:last-child{
    margin-right:0px;
}
.produdeta-star img{
    width: 20px;
}
.produdeta-star{
    color: #8B8B8B;
}
.productD-text{
    color: #656565;
}
.producdetail_Simg .active{
    border: 1px solid var(--color-main);
}

.quantity-selector {
    border: 1px solid #E0E0E0;
    border-radius: 0px;
    overflow: hidden;
    width: fit-content;
  }
  
  .qty-btn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 0.2rem 1rem;
    font-size: var(--fontSize22);
    cursor: pointer;
    transition: background-color 0.2s ease;
}
  
  .qty-btn:hover {
    background-color: #a96548;
  }
  
  .qty-input {
    width: 40px;
    text-align: center;
    border: none;
    font-size: var(--fontSize16);
    pointer-events: none;
    background-color: #fff;
  }

.produ-descr{
    /* border-bottom: 1px solid #EAEAEA; */
    
    margin-top: 4rem;
}
.tab-btn{
    position: relative;
}
.tab-btn.active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--color-main);
    left: 0;
    top: 98%;
}
.produ-descr
.carat button{
    background-color: #fff;
    color: #484848;
    border: 1px solid #D8D8D8;
    padding:0.313rem 1.25rem;
    margin-right:2%;
}
.carat button.carat-active{
    border: 1px solid var(--color-main);
}
button.prodetail-btn{
    background-color: #252525;
    color: #fff;
    border-radius: 0.313rem;
    margin-left: 1rem;
    padding: 0.2rem 1.5rem;
}
button.prodetail-btn1{
    background-color: #ffffff;
    border: 1px solid var(--color-grayBlack);
    border-radius: 0px;
    width: 100%;
    padding: 0.563rem 1.125rem;
    margin-top: 10px;
}
.quantity {
    max-width: 296px;
}
.produdescr-text{
    padding: 2rem 0;
}
.produ-descr-box ul li{
    padding-bottom: 10px;
    position: relative;
}
.produ-descr-box ul li::before {
    content: "•";
    position: absolute;
    left: -2%;
    top: -1px;
    color: #646464;
    font-size: 1.5rem;
    line-height: 1;
}
.color ul li{
   width: 24px;
   height: 24px;
}
.color ul li:nth-child(1){
    background-color: #2769EC;
}
.color ul li:nth-child(2){
    background-color: #23D83E;
}
.color ul li:nth-child(3){
    background-color: #D83223;
}
.color ul li:nth-child(4){
    background-color: #AC855E;
}
.color ul li:nth-child(5){
    background-color: #CBC826;
}
.color ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 180px;
}
.size ul{
   display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 180px;
}
.size ul li{
    background-color: var(--color-gray);
}
.size ul li {
    background-color: var(--color-gray);
    text-align: center;
    width: 27px;
    height: 27px;
    font-size: var(--fontSize12);
    align-items: center;
    display: flex;
    justify-content: center;
}

.avail {
    grid-template-columns: 1fr 2fr;
    max-width: 350px;
}
.also-like{
    padding-top: 4rem;
    padding-bottom: 3rem;
}
/* ------------productdetails------------- */


/* ------------Cart------------- */
.return_cart{
    text-decoration: none;
    color: #000000;
}
.return_cart:hover{
    color: var(--color-main);
}
.cart_box{
    padding: 5rem 0;
}
.cart_detail {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
}
.cart_detail1{
    border-bottom: 1px solid #EEEEEE;
    padding: 0px 0 0.625rem 0;
    margin-bottom:1.563rem;
}
.cart_detail div:first-child {
    text-align: left;
}
.cart-img{
    background-color: var(--color-gray);
    width: 75px;
    height: 75px;
}
.cart-img img{
    width: 100%;
}
.cart-quantity{
    margin: 0 auto;
}
.cart-quantity .qty-btn{
    padding: 0px 0.438rem;
    font-size: 1.125rem;
}
.cart-quantity .qty-input{
    width: 30px;
}
.remove img{
    background-color: var(--color-main);
    padding: 0.438rem;
    cursor: pointer;
}
.cartPrice_box {
    padding: 1.875rem;
}
.cartPrice{
    border-bottom: 1px solid var(--color-grayBlack);
    padding-bottom: 10px;
}
button.cart-btn{
    background-color: var(--color-grayBlack);
    color: #ffffff;
    padding: 0.813rem;
    margin-top: 1.875rem;
}
.add-to-cart-btn:hover{
    background-color: #e7ab3c;
    color: #fff;
}
.btn.banner-btn:hover{
    border-color: #000000 !important;
    background-color: #000000 !important;
    color: #ffffff !important;
}
.remove{
    color: #F91010;
    text-decoration: underline;
}

/* ------------Cart------------- */

/* ------------Checkout------------- */
.checkout_top{
    border-bottom: 1px solid #DFDFDF;
    padding: 0.6rem 0;
}
.checkout_wrap{
    display: grid;
    grid-template-columns: 8fr 5fr;
    grid-template-areas: "checkout_left checkout_right";
}

.checkout_left input, .checkout_left select, .checkout_right input{
    font-size: var(--fontSize13);
    color: #787878;
    border-color: #525252;
    height: 43px;
    font-weight: var(--font-weight300);
}

.grid {
    display: grid;
}
.grid-columns-2{
    grid-template-columns: repeat(2, 1fr);
}
.grid-columns-3{
    grid-template-columns: repeat(3, 1fr);
}
.columns-gap{
    grid-column-gap: 0.8rem;
}
.form-group.shop-item{
    padding-top: 0px;
}
.delivery .form-group{
    padding-bottom: 1rem;
}
.payment-cod{
    border:1px solid #525252;
    border-radius: 5px;
    padding: 1rem;
}
.payment-cod p{
    color: #7B7B7B;
}
.section_checkout{
    position: relative;
}
/* @media (min-width: 48rem) {
    .section_checkout::after {
        content: "";
        background-color: #f4f0ed;
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 0;
    }
} */

/* The container */
.radio {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    cursor: pointer;
    font-size: var(--fontSize14);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark-radio {
    position: absolute;
    top: 2px;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 1px solid #000;
  }
  
  /* On mouse-over, add a grey background color */
  .radio:hover input ~ .checkmark-radio {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio input:checked ~ .checkmark-radio:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio .checkmark-radio:after {
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000000;
  }
button.checkout-btn{
   background-color: var(--color-grayBlack);
   border-radius: 0px;
   color: #ffffff;
   font-size: var(--fontSize15);
   padding: 0.875rem 5.313rem;
   border-radius: 0.313rem;
}
button.apply-btn{
    background-color: var(--color-grayBlack);
    border-radius: 0px;
    color: #ffffff;
    font-size: var(--fontSize15);
    padding: 0.6rem 0;
    border-radius: 0.313rem;
}
.checkout-copyright{
    border-top: 1px solid #DFDFDF;
    margin-top: 6rem;
}
.checkout-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.check-img img {
    width: 46px;
    background: #fff;
    border: 1px solid #838383;
    border-radius: 2px;
    /* padding: 0.3rem; */
}
.border-check {
    border-top: 1px solid #D7D7D7;
    padding-top: 1rem;
    margin-top: 1rem;
}

input:invalid, select:invalid {
    border-color: red;
  }
  input:valid, select:valid {
    border-color: green;
  }

/* ------------Checkout------------- */

/* ------------Thankyou------------- */
.thankyou-mid{
    background-color:#F5F5F5;
    margin: 5rem 0;
    padding: 3.75rem;
}
.thankyou-mid a{
  text-decoration: none;
  color: var(--color-main);
}
/* ------------Thankyou------------- */

/* ------------wishlist------------- */
.wishlist-btn{
    padding: 10px 0;
    background-color: var(--color-main);
    color: #ffffff;
}
.wishlist .product-box {
   border: 1px solid #e9e9e9;
}
.wishlist .product_wishlist {
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-shadow: 0 0px 5px #cecece;
}
.product_wishlist {
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .product_wishlist.wishlist-active {
    background-color: var(--color-main)
  }
  
  .product_wishlist.wishlist-active img {
    filter: brightness(0) invert(1);
  }
  

/* ------------wishlist------------- */

/* ------------login------------- */
.hidden {
  display: none !important;
}
   #auth-modal {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.6); display: flex; justify-content: center; align-items: center;
}

.auth-box {
  background: white; padding: 20px; width: 300px; position: relative;
}


.close-btn {
  position: absolute; top: 10px; right: 10px; background: transparent;
  border: none; font-size: 18px; cursor: pointer;
}

.switch-link {
  color: blue; cursor: pointer; text-decoration: underline;
}

.logged-in-icon {
  filter: hue-rotate(140deg);
}
.modal-content {
    background: white;
    padding: 0px;
    border-radius: 10px;
    width: 800px;
}
.form-box input {
    padding: 10px;
    border: 1px solid #525252;
    border-radius: 0.313rem;
    font-size: var(--fontSize14);
    width: 100%;
    margin-top: 0.5rem;
}
.signUpaccount {
    padding-top: 4rem;
}
.form-box button {
    padding: 0.625rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.313rem;
    width: 100%;
}
.form-box button:hover{
  background-color: black;
}
#show-signup, #show-login{
  text-decoration: none;
}
#show-signup:hover, #show-login:hover{
  color: black;
}
.form-box{
  padding: 0 2.5rem;
}
#user-greeting {
    background: #e7ab3c;
    color: #fff;
    padding: 0.375rem 0.438rem;
}
.dropdownMenu {
    position: absolute;
    top: 1.9rem;
    right: 0;
    background: white;
    border: 1px solid #dadada;
    padding: 10px;
    z-index: 999;
    width: 124px;
    text-align: center;
}
#logout-btn{
  background: white;
  border: none;
}

.searchPopup{
    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.8); z-index: 9999; align-items: center; justify-content: center;
}
.searchPopup-box {
    background: white;
    padding: 50px 20px;
    max-width: 600px;
    width: 100%;
    position: relative;
}
.searchPopup input {
    padding: 10px;
    border: 1px solid #525252;
    border-radius: 0.313rem;
    font-size: var(--fontSize14);
    width: 100%;
    margin-top: 0px;
}
#search-submit {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding: .7rem .938rem;
    background-color: var(--color-main);
    border: none;
    border-radius: 6px;
    margin-left: 11px;
}

/* ------------login------------- */

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        width: initial;
    }
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    flex-wrap: initial !important;
}


.search-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-popup-content {
    background: #fff;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    position: relative;
    border-radius: 8px;
  }
  
  .search-popup .close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

.color-option.selected-option, .size-option.selected-option {
    border: 2px solid #000000;
}

.video-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .video-modal-content {
    position: relative;
    margin: 5% auto;
    width: 90%;
    max-width: 800px;
    background: transparent;
    padding: 0;
  }
  
  .video-modal-content iframe {
    width: 100%;
    height: 450px;
  }
  
  .video-close {
    position: absolute;
    top: -3rem;
    right: -3rem;
    font-size: 30px;
    color: white;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 21px;
    width: 35px;
    height: 35px;
    text-align: center;
}
.list-price{
    display: block;
}
.list-price.active{
    display: none;
}

.active-wishlist {
    background-color: #ffe4e4;
    border: 1px solid red;
}
.wishlist_section{
    padding: 6rem 0;
}

.product_wishlist.wishlist-active {
    background-color: var(--color-main)
}


.search-popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    display: flex; justify-content: center; align-items: center;
  }
  .search-popup-content {
    background: white; padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
  }
 #search-close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    background: #000;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

  .reviewer-name {
    display: block;
    font-weight: 600;
    font-size: 1rem;
}
.review-stars{
    color: #e7ab3c;
}
.review-item {
    padding: 1.5rem 0 1.5rem 0;
    border-bottom: 1px solid #ececec;
}

.review-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
    .item-mid p{
        font-size: var(--fontSize14);
    }
    .item-mid p span{
        font-size: var(--fontSize12);
    }
}
@media only screen and (min-device-width:991px) and (max-device-width:1200px){
    .ipad-sec{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .ipad-sec img{
        width: 40%;
    }
    .ipad-sec .category-text{
        top: inherit;
    }
    .button-hover {
       left: 24%;
       top: 56%;
        transform: translate(-14%);}
}
@media only screen and (max-width: 1120px) {
    .testimonials_slider .slick-prev:before, .testimonials_slider .slick-next:before{
        display: none;
    }
    .testimonials .slick-dots{
        bottom: -42px;
    }
    .testimonials .slick-dots li.slick-active button:before{
       color: var(--color-main);
    }
    .category-section .slick-dots li button:before{
        font-size: 16px;
    }
     .category-section .slick-dots li.slick-active button:before{
        color: var(--color-main);
    }
      .category-section .slick-dots{
        bottom: -40px;
    }
    .index-banner .slick-slider .slick-prev {
    left: 1rem;
}
.index-banner .slick-slider .slick-next{
    right:1rem;
} 

.video-modal-content{
    margin: 13% auto;
}
.video-close{
    right: 0;
}

}
@media only screen and (max-width: 1024px) {
    .category-bottm img {
        width: 36%;
    }
    .ftco-category img {
        width: 33%;
    }
   
    .cartPrice_box {
        padding: 1.2rem;
    }
    .cart_box {
        padding: 3rem 0;
    }
    .home-slider{
        height: 500px;
    }
    .video-bg{
        min-height: 400px;
    }
    .testimonials .slick-dots li button:before {
        font-size: 16px;
    }
   .testimonials{
    padding: 4rem 0 6rem 0;
}
  
  
}

@media only screen and (max-width:991px){
    .side-nav-wrapper {
        position: relative;
      }
      
      .menu-toggle-btn {
        position: absolute;
        top: 15px;
        left: 15px;
        background: none;
        border: none;
        font-size: 24px;
        z-index: 1001;
      }
      
      .logo {
        display: inline-block;
        margin-left: 60px;
      }
      
      .side-nav {
        position: fixed;
        top: 0;
        right: -70%;
        height: 100%;
        width: 70%;
        background: #fff;
        /* box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2); */
        transition: right 0.3s ease;
        padding: 1rem;
        z-index: 1000;
      }
      
      .side-nav.open {
        right: 0;
      }
      
      .close-btn {
        display: block;
        position: absolute;
        top: 4px;
        right: 24px;
        background: none;
        border: none;
        font-size: 29px;
    }
      
      .side-icons img {
        width: 24px;
        cursor: pointer;
      }
      
      .side-nav .nav-link {
        color: #333;
        padding: 10px 0;
        text-decoration: none;
        margin: 0;
      } 
ul.navbar-nav{
    width: 100%;
}
.navbar-nav li {
   border-bottom: 1px solid #ccc;
}
.button-hover{
    top: 45%;
left: 17%;
transform: translate(-6%);
}

.add-to-cart-btn{
padding: 8px 6px;
}
.category_bg1{
        background-size: contain;
    }
    .category_bg2{
        background-size: cover;
    }
    .category-text{
        max-width: 300px;
    }
    .min-hight {
    min-height: 260px;
}
.ftco-icon-box{
        width: 62px;
    height: 46px;
}
 .product-section, .featured-section, .instagram-section{
        padding:4rem 0;
    }
    .category-section{
        padding-bottom: 6rem;
    }
    .modal-content{
        width: 90%;
    }
    .product-box .font-size16 {
        font-size: var(--fontSize14);
    }
    .banner_all{
	min-height: 150px;
}
}


@media only screen and (max-width:767px){
    .ftco-category h4{
        font-size: 1.25rem;
     }
    .home-slider{
        height: 360px;
    }
    .section-slider{
        background-position: 80% 0;
    }
    .btn.banner-btn{
        font-size: var(--fontSize14);
        padding: 0.5rem 2rem;
    }
    .section-slider .padd-bott-30 {
        padding-bottom: 1rem;
    }
    .bann-par {
        line-height: 1.4rem;
    }
    .index-banner .slick-dots{
        bottom: 10px;
    }
    .index-banner .slick-dots li button:before{
        font-size: 0.75rem;
    }
    .index-banner .slick-dots li.slick-active button:before{
        color: var(--color-main);
    }
    .min-hight{
        min-height:220px;
    }
    
    .head-all p br{
        display: none;
    }
    .category-text2 h4{
        font-size: 3rem;
    }
    .category-text2 h5 {
        font-size: var(--fontSize18);
    }
    .video-bg{
        min-height: 300px;
    }
    img.video-trigger {
        width: 60px;
    }
    
    .product-section .btnshowmore {
       padding: 0.8rem 1.375rem;
    }
    .testimonials {
        padding: 3rem 0 6rem 0;
    }
    .category-text{
        max-width: 180px;
    }
}

@media only screen and (max-width:767px){
    .testimonials .slick-prev, .testimonials .slick-next{
        display: none !important;
    }
    .marin-minus {
        margin: 0px !important;
    }
    .category-bottm img {
        width: 36%;
    }
    .ftco-category img {
        width: 45%;
    }
    .min-hight2 {
        min-height: 210px;
    }
    .head-all p{
        padding-bottom: 1.4rem;
        font-size: var(--fontSize15);
    }
   
    
    .slick-dots li{
    margin:0 3px;
}
.category-section .slick-dots li button:before {
        font-size: 0.875rem;
    }
    .testimonials .slick-dots li button:before{
        font-size: 0.875;
    }
    .instagram-section {
    padding: 4rem 0;
}
    .shop-banner{
        padding: 2.5rem 0;
    }
    .section-shop {
        padding: 2rem 0;
    }
    .produ-descr-box ul li::before{
        left: -5%;
    } 
    .overflow-x-scroll1{
        overflow-x: scroll;
    } 
    .overflow-width{
        width: 500px;
    } 
    .cart_detail{
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }
    .checkout_wrap{
        grid-template-columns: 1fr;
    grid-template-areas: initial;
    }
    .checkout_right{
        background-color: #ffffff;
    }

    .button-hover {
        top: 60%;
        left: 26%;
        transform: translate(-9%);
    }
        .add-to-cart-btn {
        padding: 8px 14px;
    }

    .navbar-brand img {
        max-width: 140px;
    }
    .navbar-toggler {
        padding: 4px 8px !important;
    }
    .navbar-toggler-icon {
        width: 1.2em !important;
        height: 1.2em !important;
    }
    .banner_all{
        min-height: 120px;
    }
    .banner_all .font-size30{
        font-size: var(--fontSize22);
    }
    .banner_all .font-size16 {
        font-size: var(--fontSize14);
    }
    button.checkout-btn{
        padding: 0.875rem 4rem;
    }
    .testimonials .slick-slider, .category-section .slick-list {
        margin: 0 0rem;
    }
    .category-section .slick-slide{
        margin: 0px;
    }
    .category-box{
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .instagram-column {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .category-section{
        overflow-x: hidden;
    }
    .main-product{
        padding-bottom: 2rem;
    }
    .slick-dotted.slick-slider {
    margin-bottom: 0px;
}
   .item-mid {
    border: 1px solid #777777;
    background: var(--color-gray);
    padding: 3px 0 !important;
    margin: 4px 3%;
    width: 94%;
}
.ftco-section {
    padding: 2rem 0;
}
.mobil-only{
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #e7e7e7;
        padding:0.875rem;
}
.searchPopup-box{
    width: 94%;
}
 .signUpaccount {
    padding-top: 1rem;
}
.form-box {
    padding: 1.5rem;
} 
.popup-radius{
    border-radius:0.625rem 0.625rem 0 0;
}  
.thankyou-mid{
	    margin: 4rem 0;
    padding: 2rem;
}
.thankyou .fontSize40 {
    font-size: var(--fontSize28);
} 
.cart-img{
    width: 50px;
    height: 50px;
}
.produ-descr.font-size24{
font-size: var(--fontSize20);
}
    .video-modal-content {
        margin: 23% auto;
    }
}

@media only screen and (max-width:600px){
    .view-cart{
        padding: 3.6px 10px;
        }
        .button-hover {
            top: 53%;
            left: 26%;
            transform: translate(-4%);
        }
        .add-to-cart-btn{
        padding: 6px 10px;
        }
}

@media only screen and (max-width:490px){
    .button-hover {
        top: 51%;
        left: 30%;
        transform: translate(-16%);
    }
    .video-modal-content iframe {
    width: 100%;
    height: 400px;
}
}
@media only screen and (max-width:420px){
.button-hover {
        left: 22%;
        transform: translate(-10%);
    }
.video-modal-content iframe {
        width: 100%;
        height: 350px;
    }
}


@media only screen and (max-width:389px){
.produ-descr.font-size24{
font-size: var(--fontSize18);
}
    .button-hover {
        left: 17%;
        transform: translate(-9%);
    }
     #user-greeting{
    padding: 0.3rem 0.35rem;
    font-size: 14px;
    /* margin-right: 5px; */
    }
}

